﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">@ViewBag.Hello</h1>
    <h2>message</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
